- if @item_transaction.transaction_type == 'purchase'
  = render 'item_transactions/purchase_transaction', item_transaction: @item_transaction

- if @item_transaction.transaction_type == 'transfer'
  = render 'item_transactions/transfer_transaction', item_transaction: @item_transaction
