<div id="<%= dom_id property %>">
  <p>
    <strong>Street number:</strong>
    <%= property.street_number %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= property.street_name %>
  </p>

</div>
