<div id="<%= dom_id property %>">

  <p>
    <strong>Street address:</strong>
    <%= property.street_number %> <%= property.street_name %>
  </p>

<p>
    <strong>Lot(s):</strong>
    <%= property.lots.pluck(:lot_number) %>
  </p>


</div>
