<h1>Editing resident (ID: <%=@resident.id%>)</h1>

<%= render "form", resident: @resident %>

<br>

<div>
  <%= link_to "Show this resident", @resident %> |
  <%= link_to "Back to residents", residents_path %>
</div>
