<h1>New resident
  <%- if @property %>
  <small><%= "(for #{@property})"%></small>
  <%- end %>
</h1>

<%= render "form", resident: @resident %>

<br>

<div>
  <%= link_to "Back to residents", residents_path %>
</div>
