$color-background-body: White; 
$color-primary: #1779ba;
$color-secondary: #d6eaf8;
$color-success: #0E6655;
$color-text-dark-on-light: Black;
$color-text-light-on-dark: White;
$color-warning: #D35400;
$padding-default: 6px;
